.signinBtnGoogle {
  margin: auto auto 5px auto;
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--signin);
  color: whitesmoke;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  padding: 1rem;
}

.signinBtnGoogle:hover {
  background-color: var(--signin-hover);
}

/* Managed in SignInGithub.css

.signin-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.divider {
  height: 100%;
  border: solid 1px var(--header);
} */
