:root {
  --header: #ba6b57;
  --header-brighter: #d88570;
  --background: #30475e;
  --signin: #1b2b3b;
  --signin-hover: #dc8873;
  --input: #30475e;
  --input-focus: #30475e86;
  --send: #07679f5e;
  --logout: #00000048;
  --logout-brighter: #ea4569;
  --message-back-received: #f1f1f1;
  --message-back-send: #4383a2;
  --scrollbar: #1f3953;
  --scrollbar-thumb: #ba6b5787;
}

.App {
  text-align: center;
  max-width: 40%;
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 40vw;
  background-color: var(--background);
}

.signin-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.signin-text {
  width: 50%;
}

.divider {
  height: 100%;
  border: solid 1px var(--header);
}

.about {
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: whitesmoke;
}

a {
  color: rgb(81, 189, 189);
}

a:visited {
  color: greenyellow;
}

@media all and (max-width: 768px) {
  .App {
    max-width: 100vw;
  }

  .App section {
    width: 100%;
  }
}
